#p1{
    font-family: sans-serif; text-align: center;
    border: white 2px solid;
    padding: 10px;
}
#p2{
    font-family: sans-serif; color: white
}
#p3{
    color: white;font-family: sans-serif
}
.first{
    font-family: sans-serif;
}
#nike{
    text-align: center; font-size: larger;font-family: sans-serif
    
}
#n1{
    font-family: sans-serif;color: white
}
#n2{
    font-family: sans-serif; color: white
}
#n3{
    font-family: sans-serif; color: white
}
#n4{
    font-family: sans-serif; color:white;
}
.n5{
    color:white; font-family: sans-serif
}
img{
    border-radius:8px;
}
h1{
    text-shadow: 2px 2px 5px white;
}